<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div id="firstDiv" class="container-fluid">
      <h1 id="firstDivh1">Welcome to <%= @city_full_name %></h1>
      <h2>Population: <%= @population %></h2>
    </div>
    <div id="secondDiv">
      <h3>Description</h3>
      <p><%= @city_description %></p>
    </div>
    
    <div id="thirdDiv">
      <h3>Quality of Life Scores</h3>
      <div class= "container">
        <div class="row">
          <div class="col-sm-6" >
            Commute: 
            <div id="myProgress" >
              <div id="commute" class= "myBar">0%</div>
            </div>
            Safety: 
            <div id="myProgress" >
              <div id="safety" class= "myBar">0%</div>
            </div>
            Healthcare: 
            <div id="myProgress" >
              <div id="healthcare" class= "myBar">0%</div>
            </div>
            Education: 
            <div id="myProgress" >
              <div id="education" class= "myBar">0%</div>
            </div>
          </div>
          
          <div class="col-sm-6" >
            Environmental Quality:
            <div id="myProgress" >
              <div id="environment" class= "myBar">0%</div>
            </div> 
            Economy:
            <div id="myProgress" >
              <div id="economy" class= "myBar">0%</div>
            </div> 
            Internet Access:
            <div id="myProgress" >
              <div id="internet" class= "myBar">0%</div>
            </div>
            Tolerance:
            <div id="myProgress" >
              <div id="tolerance" class= "myBar">0%</div>
            </div>
          </div>
        </div>
      <div> 
      
      <script>
      function move() {
        var width = 10;
        var id = setInterval(frame, 10);
        var commute = document.getElementById("commute"); 
        var safety = document.getElementById("safety"); 
        var healthcare = document.getElementById("healthcare"); 
        var education = document.getElementById("education"); 
        var environment = document.getElementById("environment"); 
        var economy = document.getElementById("economy"); 
        var internet = document.getElementById("internet"); 
        var tolerance = document.getElementById("tolerance"); 
        
        function frame() {
          if (width >= 100) {
            clearInterval(id);
          } else {
            width++; 
            commute.style.width = width * <%= @commute_score %>/10 + '%'; 
            commute.innerHTML = "Score: <%= @commute_score %>/10";
            
            safety.style.width = width * <%= @safety_score %>/10 + '%'; 
            safety.innerHTML = "Score: <%= @safety_score %>/10";
            
            healthcare.style.width = width * <%= @healthcare_score %>/10 + '%'; 
            healthcare.innerHTML = "Score: <%= @healthcare_score %>/10";
            
            education.style.width = width * <%= @education_score %>/10 + '%'; 
            education.innerHTML = "Score: <%= @education_score %>/10";
            
            environment.style.width = width * <%= @environment_score %>/10 + '%'; 
            environment.innerHTML = "Score: <%= @environment_score %>/10";
            
            economy.style.width = width * <%= @economy_score %>/10 + '%'; 
            economy.innerHTML = "Score: <%= @economy_score %>/10";
            
            internet.style.width = width * <%= @internet_score %>/10 + '%'; 
            internet.innerHTML = "Score: <%= @internet_score %>/10";
            
            tolerance.style.width = width * <%= @tolerance_score %>/10 + '%'; 
            tolerance.innerHTML = "Score: <%= @tolerance_score %>/10";
          }
        }
      }
      setTimeout(move, 1000 )
      </script>

    </div>
    </div>
    </div>
    
    <div id="fourthDiv" class="container-fluid">
      <h1 id="fourthDivh1">Activities</h1>
    </div>
    
    <div id="fifthDiv">
      <h3><%= @recreation_name %></h3>
      <p><%= @recreation_description %></p>
      <h4>Direction: <%= @recreation_direction %></h4>
      <h4>Contact Information: <%= @recreation_contact %></h4>
    </div>
    
    <style>
      #firstDiv {
        display: table;
        height: 400px;
        width: 100%;
        background-color: black;
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(<%= @user_city_img_url %>) no-repeat center center;
        background-size: cover;
      }
      #secondDiv{
        width: 100%;
        min-height:200px;
        background: rgba(74,189,172,0.6);
        /*overflow: auto;*/
      }
      
      #thirdDiv{
        width: 100%;
        min-height: 200px;
        /*background: rgba(252,74,26,0.6);*/
        background: #a6dcfc;
      }
      
      #myProgress {
        width: 100%;
        background-color: #ddd;
      }
      
      .myBar {
        width: 0%;
        height: 30px;
        background-color: #1775ae;
        text-align: center;
        line-height: 30px;
        color: white;
        margin-bottom: 20px;
      }
      
      #fourthDiv {
        display: table;
        height: 150px;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(https://www.usu.edu/degrees/images/large/recreation_resource_management.jpg) no-repeat center;
        background-size: cover;
      }
      #fifthDiv{
        width:100%;
        min-height: 200px;
        background: rgba(247,183,51,0.6);
      }
      #firstDivh1 {
        color: white;
        text-align: center;
        /*vertical-align: middle;*/
        /*line-height: 200px;*/
        padding-top: 125px;
        /*font-size: 5vw;*/
        /*margin: auto;*/
        /*display: inline-block;*/
      }
      #fourthDivh1{
        color: white;
        text-align: center;
        padding-top: 30px;
      }
      h1{
        font-size: 25px;
      }
      h2 {
        font-size: 20px;
        color: white;
        text-align: center;
        /*font-size: 3vw;*/
        /*margin-top: 0px;*/
        /*padding-top: 10px;*/
      }
      h3 {
        margin-top: 0px;
        /*margin-bottom: 0px;*/
        padding-top: 20px;
        /*padding-bottom: 10px;*/
        text-align: center;
      }
      h4 {
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
      }
      p {
        margin-bottom: 0px;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        padding: 0px 30px 10px 30px;
        color: black;
        /*text-align: center;*/
      }
      
      @media (min-width:480px) {
        h1{
          font-size:30px;
        }
        h2{
          font-size:25px;
        }
        p {
          padding-left: 50px;
          padding-right: 50px;
        }
        /*h3 {*/
        /*  padding-left: 50px;*/
        /*  padding-right: 50px;*/
        /*}*/
      }
      
      @media (min-width:768px) {
        h1{
          font-size:40px;
        }
        h2{
          font-size:30px;
        }
        p {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
      @media (min-width:992px) {
        p {
          padding-left: 150px;
          padding-right: 150px;
        }
      }
    </style>
  </body>
</html>
